header {
    height : 100vh;
    overflow : hidden;
}

.header__container{
    text-align : center;
    height : 100%;
    position : relative;
}

.hs__icon:hover{
    transform: scale(1.5);
    transition: all 100ms ease;
}

.hb{
    margin-top : 2.5rem;
    display : flex;
    gap : 1.2rem;
    justify-content : center;
}



.header__socials{
    display : flex;
    flex-direction : column;
    align-items : center;
    gap : 0.8rem;
    position : absolute;
    left :0;
    bottom : 3rem;
}

.header__socials::before{
    content : '';
    width : 1px;
    height : 1rem;
    background : var(--color-primary);
}

.header__socials::after{
    content : '';
    width : 1px;
    height : 1rem;
    background : var(--color-primary);
}

.me {
    background : linear-gradient(var(--color-primary),transparent);
    width : 22rem;
    height : 30rem;
    position : absolute;
    left : calc(50% - 11rem);
    margin-top : 4rem;
    border-radius : 12rem 12rem 0 0 ;
    overflow : hidden;
    padding : 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down{
    position : absolute;
    right : -2.3rem;
    bottom : 5rem;
    transform : rotate(90deg);
    font-weight : 300;
    font-size : 0.9rem;

}

.scroll__down:hover{
    transform: scale(1.1) rotate(90deg);
    transition: all 100ms ease;
}


@media screen and (max-width : 1024px){
  
    header{
        height : 100vh;
    }
}

@media screen and (max-width : 600px){
    header{
        height : 100vh;
    }
    .scroll__down, .header__socials{
        display: none;
    }
    
}

